FaultManagement/FaultManagement/Web References/FaultManagementService/FaultManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAlarmByServerName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAlarmByServerNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAlarmByServerNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendImAlive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cfgIntervalMinute" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cfgStartTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cfgEndTime" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AliveTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendImAliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendImAliveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCPUInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="CPUPercentage" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCPUInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendCPUInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRAMInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RAMPercentage" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendRAMInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendRAMInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDriveInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DriveInfo">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendDriveInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendDriveInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendServiceInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceDT">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendServiceInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendServiceInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendProcessInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcessDT">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendProcessInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendProcessInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFileSizeInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileSizeDT">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFileSizeInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendFileSizeInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFileLostInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileLostDT">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFileLostInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendFileLostInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWebAppInfoToDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WebAppDT">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWebAppInfoToDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendWebAppInfoToDCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWindowsServiceCheckList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWindowsServiceCheckListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWindowsServiceCheckListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWindowsProcessCheckList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWindowsProcessCheckListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWindowsProcessCheckListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigFileSizeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigFileSizeListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigFileSizeListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigFileLostList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigFileLostListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigFileLostListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTEMP_FILE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTEMP_FILEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTEMP_FILEResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoadTempPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServerIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoadTempPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoadTempPathResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTempFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTempPathID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTempFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendTempFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAlarmByServerNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAlarmByServerName" />
  </wsdl:message>
  <wsdl:message name="GetAlarmByServerNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAlarmByServerNameResponse" />
  </wsdl:message>
  <wsdl:message name="SendImAliveSoapIn">
    <wsdl:part name="parameters" element="tns:SendImAlive" />
  </wsdl:message>
  <wsdl:message name="SendImAliveSoapOut">
    <wsdl:part name="parameters" element="tns:SendImAliveResponse" />
  </wsdl:message>
  <wsdl:message name="SendCPUInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendCPUInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendCPUInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendCPUInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="SendRAMInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendRAMInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendRAMInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendRAMInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="SendDriveInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendDriveInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendDriveInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendDriveInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="SendServiceInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendServiceInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendServiceInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendServiceInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="SendProcessInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendProcessInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendProcessInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendProcessInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="SendFileSizeInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendFileSizeInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendFileSizeInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendFileSizeInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="SendFileLostInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendFileLostInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendFileLostInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendFileLostInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="SendWebAppInfoToDCSoapIn">
    <wsdl:part name="parameters" element="tns:SendWebAppInfoToDC" />
  </wsdl:message>
  <wsdl:message name="SendWebAppInfoToDCSoapOut">
    <wsdl:part name="parameters" element="tns:SendWebAppInfoToDCResponse" />
  </wsdl:message>
  <wsdl:message name="GetWindowsServiceCheckListSoapIn">
    <wsdl:part name="parameters" element="tns:GetWindowsServiceCheckList" />
  </wsdl:message>
  <wsdl:message name="GetWindowsServiceCheckListSoapOut">
    <wsdl:part name="parameters" element="tns:GetWindowsServiceCheckListResponse" />
  </wsdl:message>
  <wsdl:message name="GetWindowsProcessCheckListSoapIn">
    <wsdl:part name="parameters" element="tns:GetWindowsProcessCheckList" />
  </wsdl:message>
  <wsdl:message name="GetWindowsProcessCheckListSoapOut">
    <wsdl:part name="parameters" element="tns:GetWindowsProcessCheckListResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigFileSizeListSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigFileSizeList" />
  </wsdl:message>
  <wsdl:message name="GetConfigFileSizeListSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigFileSizeListResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigFileLostListSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigFileLostList" />
  </wsdl:message>
  <wsdl:message name="GetConfigFileLostListSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigFileLostListResponse" />
  </wsdl:message>
  <wsdl:message name="GetTEMP_FILESoapIn">
    <wsdl:part name="parameters" element="tns:GetTEMP_FILE" />
  </wsdl:message>
  <wsdl:message name="GetTEMP_FILESoapOut">
    <wsdl:part name="parameters" element="tns:GetTEMP_FILEResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoadTempPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoadTempPath" />
  </wsdl:message>
  <wsdl:message name="GetLoadTempPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoadTempPathResponse" />
  </wsdl:message>
  <wsdl:message name="SendTempFileSoapIn">
    <wsdl:part name="parameters" element="tns:SendTempFile" />
  </wsdl:message>
  <wsdl:message name="SendTempFileSoapOut">
    <wsdl:part name="parameters" element="tns:SendTempFileResponse" />
  </wsdl:message>
  <wsdl:portType name="FaultManagementServiceSoap">
    <wsdl:operation name="GetAlarmByServerName">
      <wsdl:input message="tns:GetAlarmByServerNameSoapIn" />
      <wsdl:output message="tns:GetAlarmByServerNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendImAlive">
      <wsdl:input message="tns:SendImAliveSoapIn" />
      <wsdl:output message="tns:SendImAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCPUInfoToDC">
      <wsdl:input message="tns:SendCPUInfoToDCSoapIn" />
      <wsdl:output message="tns:SendCPUInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRAMInfoToDC">
      <wsdl:input message="tns:SendRAMInfoToDCSoapIn" />
      <wsdl:output message="tns:SendRAMInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDriveInfoToDC">
      <wsdl:input message="tns:SendDriveInfoToDCSoapIn" />
      <wsdl:output message="tns:SendDriveInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendServiceInfoToDC">
      <wsdl:input message="tns:SendServiceInfoToDCSoapIn" />
      <wsdl:output message="tns:SendServiceInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendProcessInfoToDC">
      <wsdl:input message="tns:SendProcessInfoToDCSoapIn" />
      <wsdl:output message="tns:SendProcessInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFileSizeInfoToDC">
      <wsdl:input message="tns:SendFileSizeInfoToDCSoapIn" />
      <wsdl:output message="tns:SendFileSizeInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFileLostInfoToDC">
      <wsdl:input message="tns:SendFileLostInfoToDCSoapIn" />
      <wsdl:output message="tns:SendFileLostInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWebAppInfoToDC">
      <wsdl:input message="tns:SendWebAppInfoToDCSoapIn" />
      <wsdl:output message="tns:SendWebAppInfoToDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWindowsServiceCheckList">
      <wsdl:input message="tns:GetWindowsServiceCheckListSoapIn" />
      <wsdl:output message="tns:GetWindowsServiceCheckListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWindowsProcessCheckList">
      <wsdl:input message="tns:GetWindowsProcessCheckListSoapIn" />
      <wsdl:output message="tns:GetWindowsProcessCheckListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigFileSizeList">
      <wsdl:input message="tns:GetConfigFileSizeListSoapIn" />
      <wsdl:output message="tns:GetConfigFileSizeListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigFileLostList">
      <wsdl:input message="tns:GetConfigFileLostListSoapIn" />
      <wsdl:output message="tns:GetConfigFileLostListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTEMP_FILE">
      <wsdl:input message="tns:GetTEMP_FILESoapIn" />
      <wsdl:output message="tns:GetTEMP_FILESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoadTempPath">
      <wsdl:input message="tns:GetLoadTempPathSoapIn" />
      <wsdl:output message="tns:GetLoadTempPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTempFile">
      <wsdl:input message="tns:SendTempFileSoapIn" />
      <wsdl:output message="tns:SendTempFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FaultManagementServiceSoap" type="tns:FaultManagementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlarmByServerName">
      <soap:operation soapAction="http://tempuri.org/GetAlarmByServerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendImAlive">
      <soap:operation soapAction="http://tempuri.org/SendImAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCPUInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendCPUInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRAMInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendRAMInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDriveInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendDriveInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendServiceInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendServiceInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendProcessInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendProcessInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFileSizeInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendFileSizeInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFileLostInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendFileLostInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWebAppInfoToDC">
      <soap:operation soapAction="http://tempuri.org/SendWebAppInfoToDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindowsServiceCheckList">
      <soap:operation soapAction="http://tempuri.org/GetWindowsServiceCheckList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindowsProcessCheckList">
      <soap:operation soapAction="http://tempuri.org/GetWindowsProcessCheckList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigFileSizeList">
      <soap:operation soapAction="http://tempuri.org/GetConfigFileSizeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigFileLostList">
      <soap:operation soapAction="http://tempuri.org/GetConfigFileLostList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTEMP_FILE">
      <soap:operation soapAction="http://tempuri.org/GetTEMP_FILE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoadTempPath">
      <soap:operation soapAction="http://tempuri.org/GetLoadTempPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTempFile">
      <soap:operation soapAction="http://tempuri.org/SendTempFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FaultManagementServiceSoap12" type="tns:FaultManagementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlarmByServerName">
      <soap12:operation soapAction="http://tempuri.org/GetAlarmByServerName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendImAlive">
      <soap12:operation soapAction="http://tempuri.org/SendImAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCPUInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendCPUInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRAMInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendRAMInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDriveInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendDriveInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendServiceInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendServiceInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendProcessInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendProcessInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFileSizeInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendFileSizeInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFileLostInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendFileLostInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWebAppInfoToDC">
      <soap12:operation soapAction="http://tempuri.org/SendWebAppInfoToDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindowsServiceCheckList">
      <soap12:operation soapAction="http://tempuri.org/GetWindowsServiceCheckList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindowsProcessCheckList">
      <soap12:operation soapAction="http://tempuri.org/GetWindowsProcessCheckList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigFileSizeList">
      <soap12:operation soapAction="http://tempuri.org/GetConfigFileSizeList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigFileLostList">
      <soap12:operation soapAction="http://tempuri.org/GetConfigFileLostList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTEMP_FILE">
      <soap12:operation soapAction="http://tempuri.org/GetTEMP_FILE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoadTempPath">
      <soap12:operation soapAction="http://tempuri.org/GetLoadTempPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTempFile">
      <soap12:operation soapAction="http://tempuri.org/SendTempFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaultManagementService">
    <wsdl:port name="FaultManagementServiceSoap" binding="tns:FaultManagementServiceSoap">
      <soap:address location="http://192.168.1.108/DIPWebFaultMng/FaultManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="FaultManagementServiceSoap12" binding="tns:FaultManagementServiceSoap12">
      <soap12:address location="http://192.168.1.108/DIPWebFaultMng/FaultManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>